@import 'https://fonts.googleapis.com/css?family=Muli';
body {
    font-family: 'Muli', 'monospace', sans-serif;
    background: #29bdc1;
}

blockquote {
    background: #fff;
    border-left: 5px solid #fff;
    /*margin: 1.5em 10px;
  padding: 0.5em 10px;*/
}

footer {
    text-align: right;
}

#message {
    width: 640px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

h1 {
    text-align: center;
}

header {
    padding-top: 250px;
}

#quotebox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #fff;
    height: 200px;
    width: 700px;
}

#buttons {
  position: relative;
  padding-left: 69%;
  padding-top: 3%;
}




#tweet-btn {
    display: inline-block;

    background: #29bdc1;
}

#getQuote {
    display: inline-block;

    background: #29bdc1;

}
